src/main/mule/github-actions-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c92434c6-a9d9-486b-9560-d6152824ea71" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-actions-cicd-demoFlow" doc:id="c9990f84-31e6-44f0-a11b-d2dda0fb1531" >
		<http:listener doc:name="Listener" doc:id="2543d71b-0e9d-46c7-b793-d9628d10b0e0" config-ref="HTTP_Listener_config" path="/actions"/>
		<logger level="INFO" doc:name="Logger" doc:id="91186844-99eb-4d25-ba94-20c26f34a102" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1bc07185-08af-4d33-8402-2b969c5df41c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	"CICD":"Pipeline"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
